# Redirect old URL-s to new ones:
RedirectMatch permanent "^/docs/preface\.html$" "/"
RedirectMatch permanent "^/features\.html$" "/"
RedirectMatch permanent "^/whoWeAre\.html$" "/history.html"
RedirectMatch permanent "^/fmpp\.html$" "http://fmpp.sourceforge.net/"

# We don't have toc.html ATM, but it might will reappear:
RedirectMatch temp "^/docs/toc\.html$" "/docs/"

RewriteEngine On
RewriteBase /

# Redirect to the canonical domain:
RewriteCond %{HTTP_HOST} ^www\.freemarker\.org$ [NC,OR]
RewriteCond %{HTTP_HOST} ^freemarker\.incubator\.apache\.org$ [NC]
RewriteRule ^(.*)$ http://freemarker.org/$1 [R=301,L]
