redirect permanent "^/docs/preface\.html$", "/"
redirect permanent "^/features\.html$", "/"
redirect permanent "^/whoWeAre\.html$", "/history.html"
redirect permanent "^/fmpp\.html$", "http://fmpp.sourceforge.net/"
